@layer components {
  [role="alert"] {
    position: relative;
    display: flex;
    gap: var(--space-3);
    padding: var(--space-4);
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: var(--radius-medium);
    font-size: var(--text-7);

    &[data-variant] {
      border: none;
    }

    &[data-variant="error"], &[data-variant="danger"] {
      --alert-base: var(--danger);
    }

    &[data-variant="success"] {
      --alert-base: var(--success);
    }

    &[data-variant="warning"] {
      --alert-base: var(--warning);
    }

    &:is([data-variant="error"], [data-variant="danger"], [data-variant="success"], [data-variant="warning"]) {
      color: color-mix(in srgb, var(--alert-base) 60%, black);
      background-color: color-mix(in srgb, var(--alert-base) 12%, white);

      & a {
        color: currentColor;
      }
    }

    [data-theme="dark"] & {
      &:is([data-variant="error"], [data-variant="danger"], [data-variant="success"], [data-variant="warning"]) {
        color: color-mix(in srgb, var(--alert-base) 60%, white);
        background-color: color-mix(in srgb, var(--alert-base) 40%, black);
      }
    }
  }
}
