@layer components {
  [role="alert"] {
    position: relative;
    display: flex;
    gap: var(--space-3);
    padding: var(--space-4);
    background-color: var(--background);
    border: 1px solid var(--border);
    border-radius: var(--radius-medium);
    font-size: var(--text-7);

    &[data-variant] {
      border: none;
    }

    &[data-variant="error"],
    &[data-variant="danger"] {
      color: color-mix(in srgb, var(--danger), black 60%);
      background-color: color-mix(in srgb, var(--danger) 8%, white);

      & a {
        color: color-mix(in srgb, var(--danger), black 60%);
      }
    }

    &[data-variant="success"] {
      color: color-mix(in srgb, var(--success), black 60%);
      background-color: color-mix(in srgb, var(--success) 8%, white);

      & a {
        color: color-mix(in srgb, var(--success), black 60%);
      }
    }

    &[data-variant="warning"] {
      color: color-mix(in srgb, var(--warning), black 60%);
      background-color: color-mix(in srgb, var(--warning) 8%, white);

      & a {
        color: color-mix(in srgb, var(--warning), black 60%);
      }
    }

    [data-theme="dark"] & {

      &[data-variant="error"],
      &[data-variant="danger"] {
        color: color-mix(in srgb, var(--danger), white 20%);
        background-color: color-mix(in srgb, var(--danger) 20%, black);

        & a {
          color: color-mix(in srgb, var(--danger), white 20%);
        }
      }

      &[data-variant="success"] {
        color: color-mix(in srgb, var(--success), white 20%);
        background-color: color-mix(in srgb, var(--success) 20%, black);

        & a {
          color: color-mix(in srgb, var(--success), white 20%);
        }
      }

      &[data-variant="warning"] {
        color: color-mix(in srgb, var(--warning), white 20%);
        background-color: color-mix(in srgb, var(--warning) 20%, black);

        & a {
          color: color-mix(in srgb, var(--warning), white 20%);
        }
      }
    }
  }
}